{
    "extends": ["eslint-config-egg/typescript", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "@typescript-eslint/rule-name": "off",
        "@typescript-eslint/no-var-requires": "off"
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": true,
        "node": true
    }
}